@tailwind base;
@tailwind components;
@tailwind utilities;

/* Container with minimal side spacing */
.container {
  @apply mx-auto w-full px-4 md:w-5/6 xl:w-4/5 xl:p-0;
}

.small_container {
  @apply mx-auto w-full px-4 md:w-3/5 xl:w-3/4 xl:p-0;
}

/* Text sizes for general use */
.small-text {
  @apply text-xs sm:text-sm md:text-base;
}

.regular-text {
  @apply text-sm sm:text-base md:text-lg lg:text-xl;
}

.emphasized-text {
  @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-bold;
}

/* Headings */
.title-text {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-bold;
}

.subtitle-text {
  @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-semibold;
}

/* Medium/Section headings */
.medium-text {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold;
}

/* Smaller headings or large labels */
.large-label-text {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl font-semibold;
}

/* Captions and fine print */
.caption-text {
  @apply text-xs opacity-80 sm:text-sm md:text-base lg:text-base font-light;
}

/* Body text */
.body-text {
  @apply text-sm sm:text-base md:text-lg lg:text-xl font-normal;
}

/* main colors codes */

.bg-color {
  @apply bg-[#F2F8FF];
}

.text-color-dark {
  @apply bg-blue-950;
}

.text-color-md {
  @apply bg-blue-500;
}

.text-color-light {
  @apply bg-blue-50;
}

.section-margin {
  @apply my-12;
}

.sub-section-margin {
  @apply my-8;
}

/* Extra large for main headings or special emphasis */
.extra-large-text {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-extrabold;
}

/* Transitions */
.zoom-in-transition {
  @apply transition-transform duration-300 ease-in-out hover:scale-105;
}

/* Responsive spacing */
.responsive-spacing {
  @apply my-3 sm:my-4 md:my-5 lg:my-6;
}

/* Responsive flex layout */
.responsive-flex {
  @apply flex flex-col sm:flex-row items-center justify-between;
}

/* Responsive grid layout */
.responsive-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-4;
}
